body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #000;
    color: white;
    text-align: center;
}

.container {
    margin-top: 70px;
}

.profile {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 3px solid #00aaff;
    box-shadow: 0px 0px 25px #00aaff;
    animation: glow 2s infinite ease-in-out alternate;
}

@keyframes glow {
    from { box-shadow: 0 0 10px #0099ff; }
    to { box-shadow: 0 0 35px #00ccff; }
}

h1 {
    font-size: 32px;
    margin-top: 20px;
}

.tag {
    opacity: 0.7;
    margin-bottom: 25px;
}

.btn {
    display: block;
    width: 220px;
    margin: 12px auto;
    padding: 12px;
    background: #001f33;
    border: 2px solid #00aaff;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 18px;
    transition: 0.3s;
}

.btn:hover {
    background: #00aaff;
    color: black;
    box-shadow: 0 0 25px #00ccff;
}
